body{
    margin: 0;
    background-color: rgb(243, 243, 243);
}

#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto 1fr;
    grid-gap: 20px;
    max-width: 1250px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-top: 15px;
    grid-template-areas:
        'header header header'
        'nav nav nav'
        'main main main'
        'footer footer footer';
}

#header{
    grid-area: header;
    text-align: center;
    background-image: url("../Bilder/header.png");
    background-repeat: repeat;
    min-height: 194px;
    padding-top: 70px;
}

#nav{
    grid-area: nav;
    font-variant: small-caps;
    background-color: rebeccapurple;
}

#nav #myLinks{
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#nav #myLinks a{
    color: white;
    padding: 16px;
    text-decoration: none;
}

#nav #myLinks a:hover{
    text-decoration: underline;
    background-color: gray;
}

#main{
    grid-area: main;
}

#main section{
    display: flex;
    flex-wrap: wrap;
}

#main section article{
    padding: 10px;
    width: 30%;
    text-align: left;
    margin: 2px;
    margin-top: 30px;
    min-height: 80px;
    background-color: #dbdbdb;
}

#main section article p{
    font-size: 18px;
}

#footer{
    padding-bottom: 1px;
    padding-top: 1px;
    width: 100%;
    text-align: center;
    background-color: lightgray;
    color: black;
    grid-area: footer;
    margin-top: 20px;
}

.moneyLists{
    display: flex;
    justify-content: space-between;
}

#getLoan{
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    color: black;
    padding: 5% 10%;
    background-color: tomato;
}

#payLoan{
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    color: black;
    padding: 5% 10%;
    background-color: greenyellow;
}

#bank{
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    color: black;
    padding: 5% 10%;
    background-color: greenyellow;
}

#work{
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    color: black;
    padding: 5% 10%;
    background-color: aqua;
}

#buyLaptop{
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    color: black;
    padding: 5% 10%;
    background-color: rgb(233, 243, 93);
}

.buttonContainers{
    text-align: center;
}

#laptopSelected{
    font-size: 16px;
}

#laptopFeatures{
    list-style: none;
}

#laptopPicture{
    width: 200px;
}